flows.json
[
    {
        "id": "356a66381b260d1c",
        "type": "tab",
        "label": "Flujo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "08cefa5751007c0e",
        "type": "tab",
        "label": "Flujo 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "353d2b724655a74d",
        "type": "tab",
        "label": "Flujo 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "722f66f1eaa053f3",
        "type": "tab",
        "label": "Flujo 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "68bede47d24a370a",
        "type": "tab",
        "label": "Flujo 5",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "42341712d9747c4d",
        "type": "inject",
        "z": "356a66381b260d1c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 120,
        "wires": [
            [
                "efb59ab19463d617"
            ]
        ]
    },
    {
        "id": "efb59ab19463d617",
        "type": "debug",
        "z": "356a66381b260d1c",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 80,
        "wires": []
    },
    {
        "id": "aa3d258e99aa87e7",
        "type": "link in",
        "z": "356a66381b260d1c",
        "name": "link in 1",
        "links": [],
        "x": 275,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "ccd53c19d7b0a747",
        "type": "link call",
        "z": "356a66381b260d1c",
        "name": "nn",
        "links": [
            "aa3d258e99aa87e7"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 430,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "9f7a9d3708d77a9c",
        "type": "ui_table",
        "z": "08cefa5751007c0e",
        "name": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "columns": [],
        "outputs": 0,
        "cts": false,
        "x": 170,
        "y": 200,
        "wires": []
    },
    {
        "id": "6ec29989bd974ab0",
        "type": "ui_gauge",
        "z": "08cefa5751007c0e",
        "name": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00B500",
            "#E6E600",
            "#CA3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 470,
        "y": 140,
        "wires": []
    },
    {
        "id": "c71081739def8080",
        "type": "ui_button",
        "z": "353d2b724655a74d",
        "name": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "03e23ddf5e550032",
        "type": "ui_dropdown",
        "z": "353d2b724655a74d",
        "name": "",
        "label": "",
        "tooltip": "",
        "place": "Select option",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "value": "",
                "label": ""
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 220,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "166f36857e46a96f",
        "type": "ui_numeric",
        "z": "722f66f1eaa053f3",
        "name": "",
        "label": "numeric",
        "tooltip": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "step": 1,
        "className": "",
        "x": 360,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "638a6d14be5925bf",
        "type": "ui_numeric",
        "z": "722f66f1eaa053f3",
        "name": "",
        "label": "numeric",
        "tooltip": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "step": 1,
        "className": "",
        "x": 360,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "9a5ba4782fa46efc",
        "type": "ui_numeric",
        "z": "722f66f1eaa053f3",
        "name": "",
        "label": "numeric",
        "tooltip": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "step": 1,
        "className": "",
        "x": 360,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "acda68e9438f733b",
        "type": "ui_template",
        "z": "68bede47d24a370a",
        "name": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 220,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "8317063c1ba1d98a",
        "type": "ui_table",
        "z": "68bede47d24a370a",
        "name": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "columns": [],
        "outputs": 0,
        "cts": false,
        "x": 350,
        "y": 160,
        "wires": []
    },
    {
        "id": "bed79903beab7b03",
        "type": "ui_date_picker",
        "z": "68bede47d24a370a",
        "name": "",
        "label": "date",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 590,
        "y": 20,
        "wires": [
            []
        ]
    }
]