flows.json
[
    {
        "id": "356a66381b260d1c",
        "type": "tab",
        "label": "Flujo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "08cefa5751007c0e",
        "type": "tab",
        "label": "Flujo 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "42341712d9747c4d",
        "type": "inject",
        "z": "356a66381b260d1c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 120,
        "wires": [
            [
                "efb59ab19463d617"
            ]
        ]
    },
    {
        "id": "efb59ab19463d617",
        "type": "debug",
        "z": "356a66381b260d1c",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 80,
        "wires": []
    },
    {
        "id": "aa3d258e99aa87e7",
        "type": "link in",
        "z": "356a66381b260d1c",
        "name": "link in 1",
        "links": [],
        "x": 275,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "ccd53c19d7b0a747",
        "type": "link call",
        "z": "356a66381b260d1c",
        "name": "nn",
        "links": [
            "aa3d258e99aa87e7"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 430,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "9f7a9d3708d77a9c",
        "type": "ui_table",
        "z": "08cefa5751007c0e",
        "name": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "columns": [],
        "outputs": 0,
        "cts": false,
        "x": 170,
        "y": 200,
        "wires": []
    },
    {
        "id": "6ec29989bd974ab0",
        "type": "ui_gauge",
        "z": "08cefa5751007c0e",
        "name": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00B500",
            "#E6E600",
            "#CA3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 470,
        "y": 140,
        "wires": []
    }
]